.bg-a-color {
    background: #002447;
  }
  
.checkout-header {
    padding: 2rem 0;
    text-align: center;
}

.checkout-header > h1 {
    color:white;
}

.wrapper-content {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    column-gap: 3rem;
    background: white;
}

.checkout-billing {
  margin: 2rem 4rem;
}

.symbol-validate {
  color: red;
}

.your-order {
  width: 35vw;
  margin-top: 3rem;
  margin-bottom: auto;
}

.order-title {
  margin: 1.5rem 1rem;
  font-size: 1.2rem;
}
.order-total {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  margin: 0.5rem 1rem;
  font-size: 0.8rem;
}

.place-order {
  background: #002447;
  color: white;
}

.place-order:hover {
  background: #0f4a85;
}

.err-msg {
  margin: 1rem 1rem;
}

.success-added {
  min-height: 100vh;
  background: white;
}

.response-success {
  display: flex;
  justify-content: center;
  padding-top: 45vh;
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.response-success a {
  color: blue;
}

.response-success a:hover {
  text-decoration: underline;
}

@media (max-width:820px){
  .wrapper-content {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .your-order{
    width: auto;
    margin: 1rem 4rem 3rem 4rem;
  }
}

@media (max-width:345px) {
  .wrapper-content {
    grid-template-columns: 1fr;
    padding: 0.5rem 0.5rem;
  }

  .your-order {
    margin: 1rem 0.8rem;
  }
}