
.container-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  padding: 0 3vw;
}

.img-adjust {
  text-align: center;
}

.img-adjust:hover {
  box-shadow: #7c7b7b 0 0 10px 1px;
}

.img-adjust p {
  font-weight: bold;
}

.img-a-display {
  width: 100%;
}

.old-prod {
  text-decoration-line: line-through;
}


