<div class="container-at-profile" *ngIf="currentUser; else loggedOut">
<div class="bg-a-color">
  <h1>User Profile</h1>
</div>
<div *ngIf="user" class="profile-content mx-auto mt-3">

  <img class="img-fluid rounded-circle img-n-fit" [src]="base64Img(avatar)"/>
  <span><strong>Name:</strong> {{user.name}}</span>
  <span><strong>Email:</strong> {{user.email}}</span>
  <span><strong>Address:</strong> {{user.address}}</span>
  <span><strong>Contact Number:</strong> {{user.phoneNumber}}</span>
  <button (click)="updateUser()" class="btn btn-1 mb-5 ml-auto" type="button">Update</button>
</div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>