<div class="container-at-profile" *ngIf="currentUser; else loggedOut">
<div class="bg-a-color">
  <h1>User Profile</h1>
</div>
<div *ngIf="user" class="profile-content mx-auto mt-3">

  <img class="img-fluid rounded-circle img-n-fit" [src]="user.picture"/>
  <span>Name: {{user.name}}</span>
  <span>Email: {{user.email}}</span>
  <span>Address: {{user.address}}</span>
  <span>Contact Number: {{user.contact}}</span>
  <button class="btn btn-1 mb-5 ml-auto" type="button">Update</button>
</div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>