
<div class="container-a-sales mx-3">
    <h1>Manage Product Sales Page</h1>


    <form class="table-resize table-responsive">
        <div class="form-group form-inline">
            Search Sales: <input class="form-control ml-2" placeholder="Search products here..." type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
            <span class="ml-3" *ngIf="service.loading$ | async"><mat-spinner [diameter]="30"></mat-spinner></span>
        </div>

        <div>
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th scope="col" sortable4="id" (sort4)="onSort($event)">Sales #</th>
              <th scope="col" sortable4="month" (sort4)="onSort($event)">Month</th>
              <th scope="col" sortable4="revenue" (sort4)="onSort($event)">Revenue</th>
              <th scope="col">Action</th>


            </tr>
            </thead>
            <tbody class="table-body-1">
            <tr *ngFor="let sale of sales$ | async">
              <td><ngb-highlight class="my-auto" [result]="sale.id" [term]="service.searchTerm"></ngb-highlight></td>
              <td>
                <ngb-highlight class="my-auto" [result]="sale.month" [term]="service.searchTerm"></ngb-highlight>
              </td>
              <td><ngb-highlight class="my-auto" [result]="sale.revenue | number" [term]="service.searchTerm"></ngb-highlight></td>
              <td style="width:250px;">
                  <div class="btn-action">
                  <button class="btn btn-primary">View Details</button>
                  <button class="btn btn-warning">Delete</button>

                  </div>

              </td>
          </tr>
            </tbody>
          </table>
        </div>


        <div class="page-nation">
          <ngb-pagination
          [collectionSize]="(total$ | async)!" [(page)]="service.page"
          [pageSize]="service.pageSize">
          </ngb-pagination>

          <select class="custom-select" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="15">15 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="25">25 items per page</option>
          </select>
        </div>

      </form>

      <div>
          <hr>
      </div>

    <div class="sales-1 card">
        <app-product-sales-chart></app-product-sales-chart>
    </div>
</div>
