.container-a-create {
    display: grid;
    grid-template-columns:  1fr;
    width: 60%;
  
  }

.container-a-create > h2 {
  padding-top: 1rem;
}
  
  .create-a-form {
    margin: 1rem;
  }

  .btn-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    column-gap: 1rem;
    padding-left: 30rem;
  
  }

  .after-submitted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 10rem;
  }

@media (max-width:680px) {
    .container-a-create {
      width: 100%;
    }
    .btn-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 30vw;
  
    }

    .after-submitted {
      padding: 6rem 4rem;
    }
  }