
<ngb-carousel class="carousel-a-bar" #carousel [keyboard]="true" [interval]="3000" [pauseOnHover]="pauseOnHover">
  <ng-template ngbSlide *ngFor="let img of slide_images; index as i">
    <div class="carousel-caption">
      <h3>My slide {{i + 1}} title</h3>
      <button type="button"
      [ngClass]="{'btn1':i===0 , 'btn2':i===1, 'btn3':i===2}" class="btn btn-warning btn-n-carousel">Shop Now!</button>
    </div>
    <a href="#{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img class="carousel-a-bar" [src]="img" alt="My image {{i + 1}} description">

      </div>
    </a>
  </ng-template>
</ngb-carousel>


<div class="bg-a-color">
  
<h2>Featured Products</h2>
<app-featured-product [product_data]="product_data"></app-featured-product>


<div class="col-12">
    <hr>
</div>

<h2>Latest Products</h2>
<app-latest-product [product_latest]="product_latest"></app-latest-product>

<div class="col-12">
    <hr>
</div>

<h2>Top Products</h2>
<app-top-product [top_product]="top_product"></app-top-product>

 <br/>
 <br/>
 <br/>

</div>
<!-- top-footer -->


<div class="col bg-light d-sm-block d-none">
    <div class="row a-top-footer">
        <div class="large-holder">
                <div class="large-icon">
                    <fa-icon [icon]="moneyBill"></fa-icon>
                </div>
                <div class="large-text">
                    Best Price
            </div>
        </div>
        <div class="large-holder">
                <div class="large-icon">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="large-text">
                    Fast Delivery
                </div>
        </div>
        <div class="large-holder">
                <div class="large-icon">
                    <i class="fa fa-check"></i>
                </div>
                <div class="large-text">
                    Genuine Products
                </div>
        </div>
    </div>
</div>


<!-- Main Content -->
