<div *ngIf="isContentRender">

  <!-- Carousel Home -->
<div>
  <ngb-carousel *ngIf="(!!slideImages)" class="carousel-a-bar" #carousel [keyboard]="true" [interval]="3000" [pauseOnHover]="pauseOnHover">
    <ng-template ngbSlide *ngFor="let img of slideImages; index as i; trackBy: trackerCarousel">
      <div class="carousel-caption">
        <strong class="h2 text-dark">{{img.name}}</strong>
      </div>
        <div class="picsum-img-wrapper">
          <img class="carousel-a-bar" [defaultImage]="'assets/images/blurred.webp'" [lazyLoad]="convert2Base64(img)" alt="{{img.miniDescription}}">
        </div>
    </ng-template>
  </ngb-carousel>


</div>


<!-- Home Product Layout -->

<div *ngIf="(featuredProduct?.length > 0) || (topProduct?.length > 0) || (latestProduct?.length > 0)" class="bg-a-color">
  
<h2 *ngIf="featuredProduct?.length > 0">Featured Products</h2>
<app-featured-product [featuredProduct$]="featuredProduct"></app-featured-product>


<div class="col-12" *ngIf="(latestProduct?.length > 0) && (featuredProduct?.length > 0)">
    <hr>
</div>

<h2 *ngIf="latestProduct?.length > 0">Latest Products</h2>
<app-featured-product [featuredProduct$]="latestProduct"></app-featured-product>

<div class="col-12" *ngIf="(topProduct?.length > 0) && (featuredProduct?.length > 0)">
    <hr>
</div>

<h2 *ngIf="topProduct?.length > 0">Top Products</h2>
<app-featured-product [featuredProduct$]="topProduct"></app-featured-product>
 
<br/>
 <br/>
 <br/>

</div>

<app-loader [loading]="!(featuredProduct?.length > 0) || !(topProduct?.length > 0) || !(latestProduct?.length > 0)"></app-loader>

<!-- Top of footer Display -->
<div class="col bg-light d-sm-block d-none">
    <div class="row a-top-footer">
        <div class="large-holder">
                <div class="large-icon">
                  <fa-icon [icon]="moneyBill"></fa-icon>
                </div>
                <div class="large-text">
                    Best Price
            </div>
        </div>
        <div class="large-holder">
                <div class="large-icon">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="large-text">
                    Fast Delivery
                </div>
        </div>
        <div class="large-holder">
                <div class="large-icon">
                    <i class="fa fa-check"></i>
                </div>
                <div class="large-text">
                    Genuine Products
                </div>
        </div>
    </div>
</div>
</div>

<div *ngIf="!isContentRender" class="something-wrong">
  <h2>
    <strong>
      Something went wrong!
    </strong>
  </h2>
  <p>Check your internet connection!</p>
</div>
