
<div class="search-form-container"></div>
<form #searchForm class="search-form">
  <input
    name="searchTerm"
    id="searchInput"
    class="search-form__input"
    type="text"
    placeholder="Search..."
  />
  <div class="search-form__vl"></div>
  <select
    #categorySelect
    class="search-form__select">
    <option selected value="all">All Categories</option>
    <option>
      category
    </option>
  </select>
  <div class="search-form__vl"></div>
  <button class="search-form__btn" type="submit"><i class="fa fa-search"></i></button>
</form>
<button #miniFormBtn class="search-form-mini btn"><i class="fa fa-search"></i></button>















<!-- <div class="column d-none d-lg-block">
		<div style="width:450px;">
		<div class="input-group">
			<input type="text" class="form-control shadow-none" placeholder="Search" aria-label="search" aria-describedby="button-search">
		  <div class="input-group-append">
			<button class="btn btn-outline-success shadow-none" type="button" id="button-addon2">Search</button>
		  </div>
		</div>
		</div>
</div>
-->