
.container-a-update {
    display: grid;
    padding: 1rem;
}


th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.btn-action {
    display:grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 0.6rem;
}

.btn-action > button {
    width: 90px;
}

.page-nation {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
}

.page-nation > ngb-pagination {
    display:flex;
    justify-content: center;
}

select.custom-select {
    width: auto;
}

.img-table {
    width: 100px;
}


.btn-save {
    text-align: end;
}

.btn-save > button {
    width: 100px;
    height: 60px;
    margin: 2rem 0 1rem 2rem;
}

.listing-product {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-auto-rows: 140px;
}

.l-1 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: end;
}

.l-2 {
    display: grid;
    grid-template-columns: 1fr;
}

.edit-slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 2rem;
    gap: 1.5rem;
}

.card-slides {
    width: 100% ; 
    height: 8rem; 
    object-fit: cover;
}

@media (max-width: 808px){
    .listing-product{
        grid-template-columns: 40vw 50vw;
    }

    .edit-slides {
        grid-template-columns: 1fr 1fr
    }

}

@media (max-width:570px) {

    .img-table {
        width: 40px;
    }

    .page-nation {
        grid-template-columns: 1fr;
    }
    
    select.custom-select {
        margin: 0 auto;
    }

    .edit-slides {
        grid-template-columns: 1fr;
    }

    .btn-action > button {
        width: 60px;
    }

    
}

@media (max-width:491px) {

    .container-a-update {
        padding: 0;
    }

    .btn-action {
        gap: 0.1rem;
    }

    .btn-action > button {
        width: 38px;
        font-size: .5rem;
    }
    
    .table-body-1 td {
        font-size:.5rem;
    }

    .table th {
        font-size: .7rem;
    }

    .btn-save {
        margin: 8rem auto 1rem auto;
    }

    .btn-save button {
        width: 60px;
        font-size: .6rem;
        margin-left: .2rem;   
    }

    .listing-product{
        grid-template-columns: 1fr 0.2fr;
    }
}