<div class="container-a-update">
    <h1>Edit Product Information</h1>
    <form>
        <div class="form-group form-inline">
            Products Info: <input class="form-control ml-2" placeholder="Search products here..." type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
            <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" sortable="id" (sort)="onSort($event)">#</th>
            <th scope="col" sortable="url" (sort)="onSort($event)">Product Image</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">Product Name</th>
            <th scope="col" sortable="price" (sort)="onSort($event)">Price</th>
            <th scope="col">Actions</th>

          </tr>
          </thead>
          <tbody class="table-body-1">
          <tr *ngFor="let product of products$ | async">
            <th scope="row">{{ product.id }}</th>
            <td>
              <img [src]="product.url"  class="mr-2 img-table">
            </td>
            <td><ngb-highlight class="my-auto" [result]="product.name" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight class="my-auto" [result]="product.price | number" [term]="service.searchTerm"></ngb-highlight></td>
            <td style="width:250px;">
                <div class="btn-action">
                <button class="btn btn-success">Edit</button>
                <button class="btn btn-primary">View</button>
                <button class="btn btn-warning">Delete</button>
                </div>

            </td>
        </tr>
          </tbody>
        </table>

        <div class="page-nation">
          <ngb-pagination
          [collectionSize]="(total$ | async)!" [(page)]="service.page"
          [pageSize]="service.pageSize">
          </ngb-pagination>

          <select class="custom-select" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="15">15 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="25">25 items per page</option>
          </select>
        </div>

      </form>

      <div class="btn-save">
        <button class="btn btn-outline-success">Save</button>
        <button class="btn btn-outline-dark">Cancel</button>
      </div>
</div>
