
.bg-changee {
  background: #62c799;
}
// #62c799
.main-logo {
	font-size: 2rem;
	line-height: 1;
	font-family: 'Righteous', cursive;
	}


.search-a-bar {
	margin-left: 8vw;
	margin-right: auto;}

.nav-a-font a{
    color:black;
  }
.nav-a-font a:hover{
  color: #002447;
}



.header-item-holder{
	font-size: 1.1rem;
  margin: 1rem 1rem 0 0;
  color: black;

  }

.no-outline-a {
  outline: none;
}


.header-item-holder a:hover{
  color: #002447;
}


.hide-a-header {
  display: none;
}


.header-a-user2 a{
  color: black;
}

.drop-profile > a {
  font-size: 0.8rem;;
}
.drop-profile > a > button:hover {
  color:white;
  background: #002447;
}

.in-profile > a > button:hover {
  color:white;
  background: #002447;
}



// Media breakpoints

@media (min-width: 992px){
  .nav-a-font {
    font-size: large;
  }
}


@media (max-width: 992px) {
	.search-a-bar{
	margin-left: 0;}

	.header-item-holder{
	display: flex;
  margin: auto;}
  }

@media (max-width: 767px) {
  .hide-a-header{
    display: inline-block;
    text-align: left;
  }

  .top-nav{
    list-style-type: none;
  }

}

@media (max-width: 1130px){
  .search-a-bar {
    margin-left: 1rem;
  }
}


