




.font-a-footer {
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer-a-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.font-a-footer-2 {
  font-size: 1.1rem;
}

h4 {
  font-size: larger;
}

.footer-bg {
  background: #002447;
}

.icon-footer {
  display:grid;
  row-gap: 0.8rem;
  font-size: 1.5rem;
}