

<div class="col-12 align-self-end font-a-footer">
  <!-- Footer -->
  <footer class="row">
  <div class="col-12 footer-bg text-white pb-3 pt-5" style="width: 100%">
      <div class="row">
          <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
              <div class="row">
                  <div class="col-12">
                      <div class="footer-logo">
                          <a href="index.html" class="font-weight-bold h3 footer-a-title">Dei-Organika</a>
                      </div>
                  </div>
                  <div class="col-12">
                      <address>
                          221 Maharlika Street<br>
                          Southern Leyte, Phil.
                      </address>
                  </div>
                  <div class="col-12 icon-footer">
                      <a href="#" class="social-icon"><i class="fa fa-facebook-f"></i></a>
                      <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                      <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
                      <a href="#" class="social-icon"><i class="fa fa-youtube"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
              <div class="row">
                  <div class="col-12 text-uppercase">
                      <h4>Who are we?</h4>
                  </div>
                  <div class="col-12 text-justify">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet vel ligula vel sodales. Aenean vel ullamcorper purus, ac pharetra arcu. Nam enim velit, ultricies eu orci nec, aliquam efficitur sem. Quisque in sapien a sem vestibulum volutpat at eu nibh. Suspendisse eget est metus. Maecenas mollis quis nisl ac malesuada. Donec gravida tortor massa, vitae semper leo sagittis a. Donec augue turpis, rutrum vitae augue ut, venenatis auctor nulla. Sed posuere at erat in consequat. Nunc congue justo ut ante sodales, bibendum blandit augue finibus.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-5 ml-lg-auto ml-sm-0 ml-auto mb-sm-0 mb-3">
              <div class="row font-a-footer-2">
                  <div class="col-12 text-uppercase">
                      <h4>Quick Links</h4>
                  </div>
                  <div class="col-12">
                      <ul class="footer-nav list-unstyled">
                          <li class="mb-3">
                              <a href="#">Home</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">Contact Us</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">About Us</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">Privacy Policy</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">Terms & Conditions</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-1 col-sm-2 col-4 mr-auto mb-sm-0 mb-3">
              <div class="row">
                  <div class="col-12 text-uppercase text-underline font-a-footer-2">
                      <h4>Help</h4>
                  </div>
                  <div class="col-12">
                      <ul class="footer-nav list-unstyled font-a-footer-2">
                          <li class="mb-3">
                              <a href="#">FAQs</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">Shipping</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">Returns</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">Track Order</a>
                          </li>
                          <li class="mb-3">
                              <a href="#">Report Fraud</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 text-center text-sm-left">
              <div class="row">
                  <div class="col-12 text-uppercase">
                      <h4>Newsletter</h4>
                  </div>
                  <div class="col-12">
                      <form action="#">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter your email..." required>
                          </div>
                          <div class="form-group">
                              <button class="btn btn-outline-light text-uppercase">Subscribe</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </footer>
  <!-- Footer -->
  </div>



  <!-- Messages
  <div class="message-holder">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert">
  <small><i class="fa fa-times"></i></small>
  </button>
  <i class="fa fa-check-circle mr-2"></i>
  This is a success alert message.
  </div>
  </div> -->
  <!-- Messages -->
