<div *ngIf="isAdmin$">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
  
      <mat-toolbar><a (click)="changeTextName()" routerLink="/admin">Administrator</a></mat-toolbar>
      <mat-nav-list>
        <a *ngFor="let item of menuItems" (click)="navigateToMenu(item)" [routerLink]="'./'+item" mat-list-item >{{item | titlecase}}</a>
      </mat-nav-list>

      <div class="bg-dark" style="margin-top: 8rem"><hr>
      <div class="d-flex justify-content-around">
        <a routerLink="/home" class="btn btn-primary" role="button">Home</a>
        <button (click)="logout()" class="btn btn-primary">Logout</button>
      </div>
      <hr></div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="admin-header-title">{{headerAdmin | titlecase}}</span>
      </mat-toolbar>
      <div class="admin-content">
        <app-progress-loader></app-progress-loader>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
