<div class="tab-of-product">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngClass]="{'h2': active===1, 'h1':!(active===1)}" [ngbNavItem]="1">
      <a ngbNavLink>All</a>
      <ng-template ngbNavContent>
        <div class="img-supermarket">
          <div class="card" *ngFor="let product of allProducts$; index as i">
            <img [src]="convert2Base64(product)" [alt]="product.description" class="img-sup">
            <h2 class="name-img">{{product.productName}}</h2>
            <div class="hide-price-hover">
              ${{product.price}}
            </div>
            <div class="icon-container-1">
                <button mat-mini-fab class="iconic-btn2">
                  <mat-icon>menu</mat-icon>
                </button>
                <button mat-mini-fab class="iconic-btn">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button mat-mini-fab class="iconic-btn2">
                  <i class="fa fa-heart"></i>
                </button>
              </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngClass]="{'h2': active===2, 'h1':!(active===2)}" [ngbNavItem]="2">
      <a ngbNavLink>Grocery</a>
      <ng-template ngbNavContent>
        <div class="img-supermarket">
          <div class="card" *ngFor="let product of groceryProducts$; index as i">
            <img [src]="convert2Base64(product)" [alt]="product.description" class="img-sup">
            <h2 class="name-img">{{product.productName}}</h2>
            <div class="hide-price-hover">
              ${{product.price}}
            </div>
            <div class="icon-container-1">
                <button mat-mini-fab class="iconic-btn2">
                  <mat-icon>menu</mat-icon>
                </button>
                <button mat-mini-fab class="iconic-btn">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button mat-mini-fab class="iconic-btn2">
                  <i class="fa fa-heart"></i>
                </button>
              </div>
          </div>
        </div>
      </ng-template>
    </li>


    <li [ngClass]="{'h2': active===3, 'h1':!(active===3)}" [ngbNavItem]="3">
      <a ngbNavLink>Vegetable</a>
      <ng-template ngbNavContent>
        <div class="img-supermarket">
          <div class="card" *ngFor="let product of vegetableProducts$; index as i">
            <img [src]="convert2Base64(product)" [alt]="product.description" class="img-sup">
            <h2 class="name-img">{{product.productName}}</h2>
            <div class="hide-price-hover">
              ${{product.price}}
            </div>
            <div class="icon-container-1">
                <button mat-mini-fab class="iconic-btn2">
                  <mat-icon>menu</mat-icon>
                </button>
                <button mat-mini-fab class="iconic-btn">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button mat-mini-fab class="iconic-btn2">
                  <i class="fa fa-heart"></i>
                </button>
              </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngClass]="{'h2': active===4, 'h1':!(active===4)}" [ngbNavItem]="4">
      <a ngbNavLink>Canned Goods</a>
      <ng-template ngbNavContent>
        <div class="img-supermarket">
          <div class="card" *ngFor="let product of cannedGoodsProducts$; index as i">
            <img [src]="convert2Base64(product)" [alt]="product.description" class="img-sup">
            <h2 class="name-img">{{product.productName}}</h2>
            <div class="hide-price-hover">
              ${{product.price}}
            </div>
            <div class="icon-container-1">
                <button mat-mini-fab class="iconic-btn2">
                  <mat-icon>menu</mat-icon>
                </button>
                <button mat-mini-fab class="iconic-btn">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button mat-mini-fab class="iconic-btn2">
                  <i class="fa fa-heart"></i>
                </button>
              </div>
          </div>
        </div>
      </ng-template>
    </li>

  </ul>
</div>


<div class="products-of-market">
 <!--Products here-->
 <div [ngbNavOutlet]="nav" class="mt-1"></div>
 <!--Products here-->
</div>


<div class="pagination-a-market">
  <ngb-pagination [collectionSize]="1" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
  </ngb-pagination>
</div>
