
.container-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    padding: 0 3vw;
  }

  .img-adjust {
    text-align: center;
  }

  .img-adjust:hover {
    box-shadow: #7c7b7b 0 0 10px 1px;
  }

  .img-adjust p {
    font-weight: bold;
  }

  .img-adjust > button {
    margin: 0 auto;
    width: 130px;
  }

  .img-a-display {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .old-prod {
    text-decoration-line: line-through;
  }


@media (max-width:575px){

  .container-img {
    display: block;
    padding: 0 0;
  }

  .img-adjust {
    margin: 20px auto;
    width: 80%;
  }


}

@media (max-width: 992px) and (min-width:576px){
  .container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 3rem;
  }

}

