<div *ngIf="product_data" class="container-img">
    <div *ngFor="let image of product_data" class="img-adjust card">
        <a [href]="image.id">
          <img class="img-a-display" [src]="image.src" alt="image-1">
          </a>
      <br><p >{{image.name}}</p>
      <br><p class="old-prod" *ngIf="image.price.old!==false;else theOther">${{image.price.old}}</p>
          <ng-template #theOther><p>&nbsp;</p></ng-template>
      <p class="text-a-align">${{image.price.new}}</p>
      <a [href]="image.id" class="text-a-align">
      <button class="btn btn-outline-dark mb-3" type="button"><i class="fa fa-cart-plus mr-2"></i>Add to cart</button>
        </a>
      </div>
    </div>