

.container-a-supermarket {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.bg-a-img {
  background: url(./../../../assets/images/bg/_supermarket.jpg);
  background-size: cover;
  background-position: center;

}

.bg-a-img h1 {
  color: white;
  font: xx-large bold;
  text-align: center;
  margin: 6rem 0;

}

.img-supermarket {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.img-sup {
  width: 100%;
}

.img-btn {
  position: sticky;
  text-align: center;

}

.img-supermarket > .card:hover {
  box-shadow: #7c7b7b 0 0 10px 1px;
}

.card > .iconic-btn {
  visibility: hidden;
}
.card:hover > .iconic-btn{
  visibility: visible;
}

.iconic-btn:hover {
  transform:scale(1.2,1.2) translate3d(0,0,0);
}

.tab-of-product {
  margin: 1rem 5rem;
}

.products-of-market {
  margin: 0rem 5rem;
}

.pagination-a-market {
  margin: 3rem auto;
}

