<div class="container-a-supermarket">
  <div class="bg-a-img">
    <h1>Supermarket</h1>
  </div>
  <div class="tab-of-product">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>One</a>
        <ng-template ngbNavContent>
          <div class="img-supermarket">
            <div class="card" *ngFor="let img of productSupermarket1; index as i">
              <img [src]="img.url" [alt]="i" class="img-sup">
              <button mat-mini-fab class="iconic-btn">
                <mat-icon>shop</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Two</a>
        <ng-template  ngbNavContent>
          <div class="img-supermarket">
            <div *ngFor="let img of productSupermarket2; index as i">
              <img [src]="img.url" [alt]="i" class="img-sup">
            </div>
          </div>

        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Three</a>
        <ng-template ngbNavContent>
          <div class="img-supermarket">
            <div *ngFor="let img of productSupermarket3; index as i">
              <img [src]="img.url" [alt]="i" class="img-sup">
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="products-of-market">
   <!--Products here-->
   <div [ngbNavOutlet]="nav" class="mt-1"></div>
   <!--Products here-->
  </div>
  <div class="pagination-a-market">
    <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</div>
