

.container-a-supermarket {
  display: flex;
  flex-direction: column;
  background: #a8a7a7;
  min-height: 120vh;
}

.bg-a-img {
  background-size: cover;
  background-position: center;
  height: 15rem;

}

.bg-a-img h1 {
  color: white;
  font: xx-large bold;
  text-align: center;
  margin: 6rem 0;

}

li.h1 {
  font-size: 1.5rem;

}

li.h2 {
  font-size: 1.5rem;

}

li.h1 a {
  color: white;

}

li.h2 a{
  color:black;
}


li.h1 a:hover {
  color: black;
}

.img-supermarket {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 28vw;
  gap: 1.5rem;

}

.img-sup {
  width: 100%;
}

.img-btn {
  position: sticky;
  text-align: center;

}

.name-img {
  text-align: center;
}



.img-supermarket > .card:hover {
  box-shadow: #7c7b7b 0 0 10px 1px;
}


.hide-price-hover {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 5vw;
}

.icon-container-1 {
  display: flex;
  justify-content: space-evenly;
  margin: 0.3vw 5vw;
}

.card > .icon-container-1 {
  display:none;
}
.card:hover > .icon-container-1{
  display: flex;
}

.card > .hide-price-hover {
  display: flex;
}

.card:hover > .hide-price-hover {
  display: none;
}

.iconic-btn:hover {
  transform:scale(1.2,1.2) translate3d(0,0,0);
}

.iconic-btn2:hover {
  transform:scale(1.2,1.2) translate3d(0,0,0);
}

.tab-of-product {
  margin: 4rem 5rem 1rem;
}

.products-of-market {
  margin: 0rem 5rem;
}

.pagination-a-market {
  margin: 3rem auto;
}

@media (max-width:1050px) and (min-width:760px){

.img-supermarket {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 36vw;
  gap: 1.5rem;


}


}

@media (max-width:759px) and (min-width:650px){

  .img-supermarket {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    grid-auto-rows: 50vw;
  }

  }

  @media (max-width:649px){

    li.h1 {
      font-size: 1rem;

    }

    li.h2 {
      font-size: 1rem;

    }

    .img-supermarket {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
      grid-auto-rows: 90vw;

    }

    }
