<!-- Using Reactive form approach -->
<div class="bg-a-signup">
  <br/>
  <div class="card bg-light signup-a-resize">
    <div class="card-header">
      <span style="font-size: 15px;" class="text-white">Register:</span>
    </div>
    <form **ngIf="!isSuccessful" name="form" (ngSumbit)="signUpForm.form.valid && onSubmit()" #signUpForm="ngForm" novalidate class="form-a-adjust">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" [(ngModel)]="form.username" minlength="3" maxlength="20" #username="ngModel" id="name" class="form-control" required>
            <div class="alert-danger" *ngIf="signUpForm.submitted && username.invalid">
              <div *ngIf="username.errors.required">
                Username is required
              </div>
              <div *ngIf="username.errors.minlength">
                Username must be atleast 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="form.email" name="email" #email="ngModel" class="form-control" required email>
            <div class="alert-danger" *ngIf="signUpForm.submitted && email.invalid">
              <div *ngIf="email.errors.required">
                Email is required
              </div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
              <input type="password" id="password" name="password" [(ngModel)]="form.password" minlength="8" #password="ngModel" class="form-control" required>
                <div class="alert-danger" *ngIf="signUpForm.submitted && password.invalid">
                  <div *ngIf="password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Email must be a valid email address
                  </div>
                </div>
            </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm Password:</label>
             <input type="password" id="passwordConfirm" name="passwordConfirm" [(ngModel)]="form.passwordConfirm" #passwordConfirm="ngModel" class="form-control" required>
                <div class="alert-danger" *ngIf="signUpForm.submitted && passwordConfirm.invalid">
                  <div *ngIf="passwordConfirm.errors.required">
                    Confirm password is required
                  </div>
                  <div *ngIf="passwordConfirm.errors.minlength">
                    Email must be a valid email address
                  </div>
                </div>
            </div>
          <div class="form-group">
            <label for="addresses">Address:</label>
            <input type="address" id="address-confirm" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="phone" id="phone-confirm" class="form-control" required>
          </div>
          <div class="form-group">
          <div class="form-check">
            <input type="checkbox" id="agree" class="form-check-input" required>
            <label for="agree" class="form-check-label ml-2">I agree to Terms and Conditions</label>
          </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-dark">Register</button>
          </div>
    </form>
    </div>
    <br/>
</div>



