
.bg-a-signup {
  background: url(./../../../assets/images/bg/_signup.jpg);
  background-size: cover;
  background-position: center;
}

.signup-a-resize {
  margin: 2rem auto;
  width: 50em;

}

.form-a-adjust {
  margin: 2em 2em;
}

.card-header {
  background: #002447;
}

@media (max-width: 570px) {
  .signup-a-resize {
    margin: 3em auto;
    width: 90%;
  }
}
