<div style="margin:1rem 2rem"><hr></div>
<div class="container" *ngIf="isUserSuccess;else errorTemp ">
  <h1>Edit Profile</h1>
  <img class="img-fluid rounded-circle img-n-fit" [src]="base64Img(avatar)"/>
  <!-- <button class="btn btn-warning btn1 text-white" id="updateAvater" (change)="attachedFile($event)" type="file">Update Avatar</button> -->
  <div class="btn1">
    <input type="file" class="custom-file-input" id="updateAvatar" name="updateAvatar" [(ngModel)]="uploadFile" (change)="attachedFile($event)" required #updateAvatar="ngModel">
    <label class="btn btn-custom text-white" for="updateAvatar">Update Avatar</label>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-a-wrapper">
      <div>
        <h2><strong>{{username}}</strong></h2>
      </div>
      <div>
        <label for="validationServer01">First name:</label>
        <input type="text" class="form-control" name="firstname" id="firstname" [(ngModel)]="user.firstname" required>
      </div>
      <div>
        <label for="validationServer01">Last name:</label>
        <input type="text" class="form-control" name="lastname" id="lastname" [(ngModel)]="user.lastname" required>
      </div>
      <div>
        <label for="validationServer01">Email:</label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="user.email" required>
      </div>
      <div>
        <label for="validationServer01">Address:</label>
        <input type="text" class="form-control" name="address" id="address" [(ngModel)]="user.address" required>
      </div>
      <div>
        <label for="validationServer01">Contact Number:</label>
        <input type="text" class="form-control" name="phoneNumber2" id="phoneNumber2" [(ngModel)]="user.phoneNumber" required>
      </div>
  </div>
  <div class="row mb-4 ml-1">
    Change password? <a class="link-style- ml-1" href="#">Click here</a>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Update</button>
    <button (click)="cancelButton()" class="btn btn-dark ml-3" type="button">Cancel</button>
  </div>
  </form>

  </div>


<ng-template #errorTemp>
  Contact site administrator!
</ng-template>

