<div class="container">
  <h1>Edit Profile</h1>
  <img class="img-fluid rounded-circle img-n-fit" src="https://picsum.photos/200"/>
  <button class="btn btn-warning btn1 text-white" type="button">Update Avatar</button>
  <form>
    <div class="form-a-wrapper">
      <div>
        <label for="validationServer01">First name:</label>
        <input type="text" class="form-control" id="validationServer01" required>
      </div>
      <div>
        <label for="validationServer01">Last name:</label>
        <input type="text" class="form-control" id="validationServer01" required>
      </div>
      <div>
        <label for="validationServer01">Email:</label>
        <input type="email" class="form-control" id="validationServer01" required>
      </div>
      <div>
        <label for="validationServer01">Address:</label>
        <input type="text" class="form-control" id="validationServer01" required>
      </div>
      <div>
        <label for="validationServer01">Contact Number:</label>
        <input type="text" class="form-control" id="validationServer01" required>
      </div>

  </div>
  <div class="row mb-4 ml-1">
    Change password? <a class="link-style- ml-1" href="#">Click here</a>
  </div>
  <div>
    <button class="btn btn-primary" type="button">Update</button>
    <button class="btn btn-dark ml-3" type="button">Cancel</button>
  </div>
  </form>
