
<div [class.wrapper-products]="productContents">
    <ngb-tabset type="pills">
        <ngb-tab *ngFor="let disp of productContents" [title]="disp.title">
          <ng-template ngbTabContent>
              <div [class.product-contents]="disp">
                <div *ngIf="disp.title==='Homepage Product'">
                  <h1>Featured Products</h1>
                  <app-featured-product [product_data]="product_data"></app-featured-product>
                  <br/>
                  <h1>Latest Products</h1>
                  <app-latest-product [product_latest]="product_latest"></app-latest-product>
                  <br/>
                  <h1>Top Products</h1>
                  <app-top-product [top_product]="top_product"></app-top-product>
                </div>
                <div *ngIf="disp.title==='Restaurant Product'">
                  <h1>Featured Products</h1>
                  <app-featured-product [product_data]="product_data"></app-featured-product>
                  <br/>
                  <h1>Latest Products</h1>
                  <app-latest-product [product_latest]="product_latest"></app-latest-product>
                  <br/>
                  <h1>Top Products</h1>
                  <app-top-product [top_product]="top_product"></app-top-product>
                </div>
                
              </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
</div>


