

.product-option {
    padding: 3rem 0;
}

.wrapper-products {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5rem 0;
    background: #c7c3c3;
}

.product-contents {
    margin: 1rem;
}

.page-view-layout {
    text-align: center;
}

.page-view-layout > h1 {
    font-size: 1.4rem;
    font-weight: bolder;
}

.btn {
    width: 7rem;
}

.btn-1 {
    display: grid;
    grid-template-columns: 1fr repeat(4, 0.5fr);
    height: 0.5rem;
    gap: 1.5rem;
    padding: 0 4rem;
}

.opt-text {
    padding: .2rem 0 0 14vw;
}

.restaurant-style {
    margin: -3rem 0 0 -3rem;
    width: 105%;
}

.supermarket-style {
    margin: -3rem 0 0 -3rem;
    width: 105%;
}



@media (max-width:705px){
    .btn-1 {
        margin: 0rem 1rem;
    }
    
    .opt-text{
        padding-left: 0vw;
    }

    .restaurant-style {
        margin: -3rem 0 0 0rem;
        width: 101%;
    }

    .supermarket-style {
        margin: -3rem 0 0 0rem;
        width: 101%;
    }



}

@media (max-width:620px){
    .btn {
        font-size: 0.7rem;
        width: 4.5rem;
        height: 3rem;
    }
    
}

@media (max-width:475px){
    .btn-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap:.3rem;
}

    .product-option {
        padding-bottom: 10rem;
    }

    .btn {
        width: 10rem;
    }

    .responsive-component {
        overflow-x: hidden;
    }

}

@media (max-width:300px){
    .btn-1{
        grid-template-columns: 1fr;
        padding: 0 0.5rem;
    }
}