


a {
    transition: color .2s linear 0s;
}

.bg-a-header {
  background: #002447;
}

.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}


.top-nav li {
    display: inline;
    padding: .1rem .5rem;
    border-right: 1px solid #fff;
}

.top-nav li:last-of-type {
    border-right: 0;
}

.top-nav li a {
    color:white;
    text-decoration: none;
}

.top-nav li a:hover, .top-nav li a:focus {
    color: wheat;
}


.header-a-user2 {
  color: white;
  height: 1rem;
  margin-top: -0.4rem;
}

.header-a-user2:hover {
  color: wheat;
}

.drop-profile {
  margin: -0.4rem 0 0 0.5rem;
}

.drop-profile >button {
  font-size: 0.8rem;;
}
.drop-profile >button:hover {
  color:white;
  background: #002447;
}


@media (max-width: 1100px){
  .header-a-user {
    display: flex;
    margin-left: 3em;
  }
}
