
<div class="col-12 bg-a-header py-2 d-md-block d-none">
    <div class="row">
        <div class="col-auto mr-auto offset-2">
            <ul class="row top-nav">
				<li>
					<a href="tel:+6395-5241-349"><i class="fa fa-phone-square mr-2"></i>+6395-5241-349</a>
                </li>
                 <li>
					<a href="mailto:mailingme@workshop.com"><i class="fa fa-envelope mr-2"></i>mailingme@workshop.com</a>
                </li>
            </ul>
        </div>
        <div *ngIf="!isNotLogin" class="col offset-4 header-a-user">
            <ul class="row top-nav">
                <li>
                    <a routerLink="/register"><i class="fa fa-user-plus mr-2"></i>Register</a>
                </li>
                <li>
                    <a routerLink="/login"><i class="fa fa-sign-in mr-2"></i>Login</a>
                </li>
            </ul>
         </div> 
         <div *ngIf="isNotLogin" class="col offset-4 header-a-user2">
            <div ngbDropdown (mouseover)="mouseOver()" (mouseout)="mouseOut()" [open]="isHover" class="d-inline-block"> 
                <a class="nav-link dropdown-toggle" id="dropdownBasic1" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false" role="button">Hi&nbsp;&nbsp;<i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;{{userName |titlecase}}</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-profile">
                  <button ngbDropdownItem>Profile</button>
                  <button ngbDropdownItem>Order</button>
                  <button ngbDropdownItem>Cart</button>
                  <button ngbDropdownItem>Logout</button>
                </div>
              </div>
         </div>
    </div>
</div>


