
<div class="col-12 bg-a-header py-2 d-md-block d-none">
    <div class="row">
        <div class="col-auto mr-auto offset-2">
            <ul class="row top-nav">
				<li>
					<a href="tel:+6395-5241-349"><i class="fa fa-phone-square mr-2"></i>+6395-5241-349</a>
                </li>
                 <li>
					<a href="mailto:hildebrandlig11@gmail.com"><i class="fa fa-envelope mr-2"></i>hildebrandlig11@gmail.com</a>
                </li>
            </ul>
        </div>
        <div *ngIf="!isLoggedIn" class="col offset-4 header-a-user">
            <ul class="row top-nav">
                <li>
                    <a routerLink="/register"><i class="fa fa-user-plus mr-2"></i>Register</a>
                </li>
                <li>
                    <a routerLink="/login"><i class="fa fa-sign-in mr-2"></i>Login</a>
                </li>
            </ul>
         </div>
         <div *ngIf="isLoggedIn" class="col offset-4 header-a-user2">
            <div ngbDropdown (mouseover)="mouseOver()" (mouseout)="mouseOut()" [open]="isHover" class="d-inline-block"> 
                <a class="nav-link dropdown-toggle" id="dropdownBasic1" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false" role="button">&nbsp;&nbsp;<i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;{{userName}}</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-profile">
                  <button (click)="viewProfile()" ngbDropdownItem>Profile</button>
                  <button (click)="viewOrder()" ngbDropdownItem>Order</button>
                  <button *ngIf="isAdmin$" (click)="goToAdmin()" ngbDropdownItem>Admin</button>
                  <button (click)="viewCart()" ngbDropdownItem>Cart</button>
                  <button (click)="logout()" ngbDropdownItem>Logout</button>
                </div>
              </div>
         </div>
    </div>
</div>
<div class="spin-1" *ngIf="isLoading | async">
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
