<div class="dropdown d-flex flex-column flex-lg-row" [ngStyle.lg.print]="{'margin-left':'150px'}" style="margin-top: 50px;">
		  <button mat-button class="btn btn-success dropdown-toggle shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
			[ngClass.lt-lg.print]="{'flex-fill': true}" [ngStyle.lg.print]="{'width':'250px'}">
			<mat-icon>menu</mat-icon><span>Categories</span>
		  </button>
			  <div class="dropdown-menu" [ngStyle.lt-lg.print]="{'width':'100%'}" [ngStyle.lg.print]="{'width':'250px'}"  aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Action</a>
				 <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Another action</a>
				 <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
				</div>
</div>