<div class="container-product">
    <div class="wrapper-product">
        <div class="img-1">
            <img class="img-inside" src="https://picsum.photos/400" alt="camaties">
        </div>
        <div class="details">
            <h1>Product Name</h1>
            <div class="rating-1">
                <ngb-rating max="5"></ngb-rating>
                <span>100 rating</span>
                <span>500 sold</span>
            </div>
            <div>
                $120.00
            </div>
            <div class="description-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium hic magnam quos accusantium possimus repellendus cumque quasi mollitia minima expedita.
            </div>
            
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Small</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Large</button>
                  <button ngbDropdownItem>Another Action</button>
                  <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div>
    </div>
</div>