<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout | async )?.miniCard.cols"
     [rowspan]="( cardLayout | async )?.miniCard.rows">
     <app-mini-card [title]="mc.title" [icon]="mc.icon" [textValue]="mc.textValue" [value]="mc.value" [color]="mc.color" [percentValue]="mc.percentValue"></app-mini-card>
   </mat-grid-tile>
    <!--Charts-->

    <!--Monthly Revenue-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Monthly Revenue">
        <app-annual-sales-chart></app-annual-sales-chart>
      </app-card>
    </mat-grid-tile>

    <!--Product Sales-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Online Order Traffic">
        <app-store-sessions-chart></app-store-sessions-chart>
      </app-card>
    </mat-grid-tile>
    <!--Sales by Traffic Source-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Product Sales">
        <app-product-sales-chart></app-product-sales-chart>
      </app-card>
    </mat-grid-tile>

    <!--Online Store Session by Traffic Source-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Sales by Traffic Source">
        <app-sales-traffic-chart class="chart-adjust"></app-sales-traffic-chart>
      </app-card>
    </mat-grid-tile>


    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <app-card title="Latest Orders">
        <app-admin-table class="table-responsive table-modify"></app-admin-table>
      </app-card>
   </mat-grid-tile>
  </mat-grid-list>
 </div>

