
.about-content {
    background: white;
    min-height: 100vh;
}

.top-about {
    text-align: center;
    margin-top: 8rem;
}

.top-header {
    font-size: 1.3rem;
    color: red;
}

.about-title-content {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 1rem;
}

.about-body-content {
    margin: 5rem 10rem;
    column-count: 2;
    column-gap: 4rem;
    text-align: justify;

}

@media (max-width:992px){
    .about-body-content {
        margin: 4rem;
    }

    .about-title-content {
        line-height: 2.5rem;
    }
}

@media (max-width:520px){
    .about-body-content {
        column-count: 1;
        margin: 3rem 1rem;
    }

    .top-header {
        font-size: 0.8rem;
    }

    .about-title-content {
        font-size: 1.2rem;
        line-height: normal;
    }
}

@media (max-width:180px){
    .about-content {
        overflow-x: scroll;
    }

}