
.wrapper-content {
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  column-gap: 3rem;
  background: white;
}


.product-details {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.img-product {
  margin-left: 3rem;
  object-fit: cover;
  width: 12rem;
}

.proceed-checkout {
  margin: 3rem 1rem;
  block-size: 10rem;
  background: #a8d0e6;

}

.proceed-btn {
  background: #002447;
  color: white;
  block-size: 4rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.del-btn {
  font-size: 1.6rem;
  color: #e90f0f;
}

.cart-empty {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: bolder;
  min-height: 100vh;
  text-align: center;
  background: white;
  padding-top: 18vh;
}

.go-home {
  margin-top: 1.5rem;
  color: blue;
}

.go-home:hover {
  text-decoration: underline; 
}


@media (max-width: 875px){
  .wrapper-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'b b b'
                         'c c c'
                         'c c c';
    text-align: center;
  }
  .proceed-checkout {
    grid-area: b;
  }

  .product-list-content {
    grid-area: c;
    margin: 0 1rem;
  }

  .proceed-checkout {
    margin: 3rem 5rem;
    block-size: 10rem;
    background: #a8d0e6;

  }

}

@media (max-width: 550px){
  .product-details {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }


  .img-product {
    margin: 0 auto;
  }

  .proceed-checkout {
    margin: 3rem 2rem;
    block-size: 10rem;
    background: #a8d0e6;

  }
  .input-spin {
    margin: 0 auto;
  }

  .del-btn {
    padding-top: 1rem;
  }
}
