<div class="bg-a-color">
  <div class="shopping-header">
    <h1>Shopping Cart</h1>
  </div>
  <div class="wrapper-content">
      <div *ngIf="addedCart" class="ml-2 product-list-content">
        <hr/>
        <div *ngFor="let product of addedCart" class="wrapper-prod">
          <div *ngIf="product" class="product-details">
            <img  [src]="convert2Base64(product.img)" alt="" class="img-product"/>
            <h2 class="my-auto">{{product.name}}</h2>
            <p class="my-auto">{{product.price |  currency:'USD'}}</p>
            <div class="my-auto mx-auto mx-lg-0">
              <p>Quantity:</p>
              <ngx-number-spinner (change)="changeCartValue($event, product.name)" class="input-spin" [value]="product.quantity" [min]="0"></ngx-number-spinner>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    <div class="card proceed-checkout" *ngIf="totalAmount">
      <p class="font-weight-bold mt-4 mx-auto">Total Amount: {{ totalAmount }}</p>
      <button class="rounded proceed-btn mx-5">Proceed to Checkout</button>
    </div>

  </div>
</div>

