

.container-a-create {
  display: grid;
  grid-template-columns:  1fr;
  width: 60%;

}

.create-a-form {
  margin: 1rem;
}

.btn-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  column-gap: 1rem;
  padding-left: 30rem;

}

.sm-size {
  width: 12rem;
}

.des-tag {
  height: 10rem;
}

.submitted-product-true {
  display: flex;
  flex-direction: column;
  padding: 10rem 20rem;
}

@media (max-width: 1080px){
  .submitted-product-true {
    padding: 10rem 10rem;
  }
}

@media (max-width:680px) {
  .container-a-create {
    width: 100%;
  }
  .btn-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30vw;

  }
}

@media (max-width: 530px){
  .submitted-product-true {
    padding: 10rem 2rem;
  }
}
