<div [ngClass]="{'container-a-create': isCreate}">

    <h2>Create Product:</h2>
    <div  class="create-a-form">
      <h3>Upload Image:</h3>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="UploadOf">
        <label class="custom-file-label" for="UploadOf">Choose file</label>
      </div>
    </div>


      <form>
        <div [ngClass]="{'create-a-form': isCreate}" *ngFor="let data of sortCreateTitle(formatForCreate)">
          <label [ngClass]="{'my-auto font-weight-bold' : isCreate}" [for]="data.id">{{data.title | titlecase}}:</label>
        <input min="0" [type]="data.type" class="form-control" [id]="data.id">

      </div>

      <div class="btn-1">
      <button type="submit" class="btn btn-success">Create</button>
      <a routerLink="../products">
        <button type="submit" class="btn btn-dark">Cancel</button>
      </a>
      </div>

      </form>



</div>
