<div [ngClass]="{'container-a-create': isCreate}">

    <h2>Create Product:</h2>

      <form #productForm="ngForm" (ngSubmit)="onSubmit()">

        <div [hidden]="isSubmitted">
          <div [ngClass]="{'create-a-form form-column': isCreate}">
            <label class="'my-auto font-weight-bold" for="name">Name:</label>
            <input type="text" minlength="4" class="form-control" aria-describedby="validateName1" id="name" required [(ngModel)]="product.productName" name="name" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                * &nbsp;Name is required.
              </div>
              <div *ngIf="name.errors.minlength">
                *&nbsp; Name must be at least 4 characters long.
              </div>
            </div>
            <label class="'my-auto font-weight-bold" for="description">Description:</label>
            <textarea minlength="10" id="description" class="form-control" name="description" [(ngModel)]="product.description" required rows="5" style="resize:none;" #description="ngModel"></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
              <div *ngIf="description.errors.required">
                *&nbsp; Give a description about the product.
              </div>
              <div *ngIf="description.errors.minlength">
                * &nbsp;The description must be at least 10 characters long.
              </div>
            </div>
            <label class="'my-auto font-weight-bold" for="price">Price:</label>
            <input type="number" class="form-control" id="price" required [(ngModel)]="product.price" name="price" #price="ngModel">
            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
              <div *ngIf="price.errors.required">
                * &nbsp; Set price for the product.
              </div>
            </div>
            <label class="'my-auto font-weight-bold" for="category">Category:</label>
            <input type="text" class="form-control" id="category" required [(ngModel)]="product.category" name="category" #category="ngModel">
              <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">  
              <div *ngIf="category.errors.required">
                  * &nbsp; Specify the category.
                </div>
              </div>
            <label class="'my-auto font-weight-bold" for="availableProduct">Available Product:</label>
            <input type="number" class="form-control" id="availableProduct" required [(ngModel)]="product.availableProduct" name="availableProduct" #availableProduct="ngModel">
                <div *ngIf="availableProduct.invalid && (availableProduct.dirty || availableProduct.touched)" class="alert alert-danger">   
                <div *ngIf="availableProduct.errors.required">
                    *&nbsp; Set the number of available products.
                  </div>
                </div>
            <label class="'my-auto font-weight-bold" for="publish">Status:</label>
            <input type="button" class="form-control btn btn-primary" id="publish" [value]="published" (click)="publishCheck(product.isPublished)">
          </div>
          <div  class="create-a-form">
            <h4>Upload Image:</h4>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputFiles" name="inputFiles" [(ngModel)]="file" (change)="onFileChanged($event)" required #inputFiles="ngModel">
              <label class="custom-file-label" for="inputFiles">{{chooseFile}} (required)</label>
            </div>
          </div>
        <div class="btn-1">
          <button type="submit" [disabled]="productForm.invalid" class="btn btn-success">Create</button>
          <a routerLink="../products" type="button" class="btn btn-dark" role="button">Cancel</a>
        </div>
        </div>
        <div class="ml-5" *ngIf="isSubmitted">
            <p>You have submitted your product, {{product.productName | titlecase}}</p>
            <button class="btn btn-success" (click)="productForm.reset();submittedBtn()"> <b>+</b> Add New Product</button>
            <br>
            <button type="button" class="btn btn-success" (click)="navigateEdit()"> <b>></b> Go to Edit</button>
        </div>
      </form>


</div>
