.container-a-create {
    display: grid;
    grid-template-columns:  1fr;
    width: 60%;
  
  }
  
  .create-a-form {
    margin: 1rem;
  }
  
.btn-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    column-gap: 1rem;
    padding-left: 30rem;
  
}

.image-attach {
    max-width: 550px;
    margin-left: 1rem;
  }

  @media (max-width:680px) {
    .container-a-create {
      width: 100%;
    }
    .btn-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 30vw;
  
    }
  }